
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
input{
  border: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
:root{
  --colorAzul: #042354;
  --colorCeleste: #2841dd;
  --colorRed: #9b081a;
}
#contenedor{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#imageDiv{
  display: flex;
  /* background-color: #042354; */
  background-image: url("../public/images/pucpCampus3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  color: white;
  font-size: bold;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
}
#formSpace{
  position: relative;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.forma{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
#formItself{
  display: flex;
  flex-direction: column;
  background-color: #cad2dd;
  height: 24rem;
  width: 20rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
#usuarioL{
  position: absolute;
  background-color: transparent;
  top: calc(50% - 12px);
  left: 12px;
  color: #aaa;
  transition: 
    top 0.3s ease,
    left 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
  user-select: none;
  pointer-events: none;
}
#emailI{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: 
    linear-gradient(90deg, var(--colorAzul), var(--colorAzul)) center bottom/0 2px no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2.5px no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}
.forma input.dentro~#usuarioL,
.forma input:focus~#usuarioL{
  top:-27px;
  font-size: 1em;
  color: var(--colorAzul); 
}
.forma input.error1~#usuarioL{
  top:-20px;
  font-size: 1em;
  color: var(--colorRed); 
}
#emailI:focus, #emailI:valid{
  background-size: 100% 2px, 100% 2.5px, 100%;
}
#emailI.error {
  background: 
    linear-gradient(90deg, var(--colorRed), var(--colorRed)) center bottom/100% 2px no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2.5px no-repeat,
    linear-gradient(90deg, #ffd3d3, #f8c8c8) left bottom/100% no-repeat;
    
  background-size: 100% 2px, 100% 2.5px, 100%;
}
#loginButton{
  background-color: var(--colorAzul);
  color: white;
  padding: 12px;
  border-color: transparent;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#loginButton:hover{
  background-color: var(--colorCeleste);
}
#ForgotPassword{
  padding-top: 1rem;
  color: var(--colorAzul);
  cursor: pointer;
  transition: color 0.5s ease;
}
#ForgotPassword:hover{
  color: var(--colorCeleste);
}
#logo{
  /* position: absolute; */
  width: 40rem;
}
#security{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #aaa;
}
